<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="logo">
      <i class="fas fa-paw"></i>
      <h1>Dog Days</h1>
    </div>
    <div class="home_button">
      <p><%= link_to "home", root_path, class: "button" %></p>
    </div>

    <div class="my_favorites">
      <h2>My Favorites: </h2>
    </div>
    <div class="container">
      <% @dogs.each do |dog| %>
        <div class="dog">
          <img id="dog_image" src="<%= dog[:image] %>" alt="<%= dog[:breed] %>">
          <h4><%= dog[:breed] %></h4>
          <%= link_to "Delete", favorite_path(id: dog[:id]), method: :delete, class: 'button' %>
        </div>
      <% end %>
    </div>
  </body>
</html>
