<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog Days</title>
  </head>
  <body>
    <% if @current_user %>
      <div class="logout_button">
        <p><%= link_to "Logout", logout_path, method: :delete %>
      </div>
      <% else %>
      <div class="login_button">
        <p><%= link_to "Login", login_path %></p>
      </div>
    <% end %>
    <div class="search">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Please enter a dog breed...", class: 'serach_field' %>
        <%= submit_tag "Search", class: "search_button" %>
      <% end %>
    </div>

    <% if params[:search] %>
      <% @dog_images.each do |image| %>
        <div class="search_results">
          <img id="dog_image" src="<%= image %>" alt="<%= @breed %>">
          <h4><%= @breed %></h4>
          <%= link_to "Favorite", favorites_path(breed: @breed, image: image), method: :post, class: 'favorite_button' %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
